<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UNSPLASH_ACCESS_KEY</key>
	<string>qO900XFADBTicViJn08T8FQ041-oEaVWHW2u0UQnN10</string>
	<key>UNSPLASH_SECRET_KEY</key>
	<string>ujQMl9oQtO1QvpyIzJovEXMK6qIbSGCqaNxjoOzSkdk</string>
</dict>
</plist>
