<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UNSPLASH_ACCESS_KEY</key>
	<string>KGdmgfW-sUaLHezUWdA7XEhp6flC_Zrfo3GNU1tsZgo</string>
	<key>UNSPLASH_SECRET_KEY</key>
	<string>KDA8wzLq0tkP58D_1sqsb6DmdHs1oVMOb1UdXI8dHCw</string>
</dict>
</plist>
